.App {
  text-align: center;
}
.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: purple;
  color: white;
  padding: 40px;
}
.images-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 60px;
  padding:60px;
}

img {
  width:100%;
}